.header {
    background-color: white;
}

.header .top {
    border-bottom:1px solid #267ab2;
}

.header .top, .header .bottom {
    display: flex;
    justify-content: center;
}

.header .top .container {
    margin: 8px 0 8px 0;
}

.header .top .container .language {
    border: none; 
    outline: none;
    background-color: transparent;
}

.top .container, .bottom .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top .container .links {
    display: flex;
    gap: 7px;
}

.top .container .links .link {
    height: 25px;
    width: 25px;
}

.bottom .container {
    margin: 10px 0 10px 0;
}

.bottom .container img {
    width: 230px;
}

.bottom .container .toggler {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #f2b31b;
}
.theHamburgerIconHide{
    display: none;
}
.HamburgerShow{
    display: none;
}
@media screen and (max-width: 1080px) {
    .container {
      width: 100vw !important;
      /* padding: 0 30px 0 30px; */
    }
    .bottom .container img{
        width: 230px;
    }
   
  
}

@media screen and (max-width: 510px) {
    .top .container .links .link {
        height: 20px;
        width: 20px;
    }
    .bottom .container img{
        width: 160px;
    }

    .bottom .container .toggler {
        height: 30px;
        width: 30px;
    }
   
}
@media screen and (max-width:800px) {
    .HamburgerShow{
        display: block;
    }

}